@use '../util' as u;

:root {
  --main-color: #f48225;
  --box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%),
    0 12px 24px rgb(0 0 0 / 5%);
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  margin-top: 40px;

  &__logo-container {
    display: flex;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin: 0 auto;

    &-img {
      width: 80px;
    }
  }

  &__nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;

    &-btn {
      padding: 10px 15px;
      border: 1px solid var(--main-color);
      border-radius: 7px;
      box-shadow: var(--box-shadow);

      &:hover {
        color: #fff;
        background-color: var(--main-color);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}

/** main */
.main {
  padding: 36px;
  width: 80%;
  margin: 30px auto;
  border: 1px solid var(--main-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);

  &__padding {
    width: 80%;
    margin: 0 auto;
  }

  &__header {
    &-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-select {
      &-div--complete {
        font-family: inherit;
      }

      &-div--order {
        font-family: inherit;
      }
    }
  }

  &__input {
    &-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    &-text {
      min-width: 200px;
      width: 100%;
      margin-right: 6px;
      padding-left: 20px;
      border: 1px solid var(--main-color);
      border-radius: 7px;

      &::placeholder {
        color: #f48225;
      }
    }

    &-add-btn {
      &:active {
        transform: scale(0.95);
      }
    }
  }

  &__todo {
    &-list {
      margin-top: 16px;
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      box-shadow: var(--box-shadow);
      border-radius: 7px;

      &.complete {
        background-color: rgb(201, 240, 240);
        text-decoration: line-through;
        color: rgba(142, 134, 134, 0.407);
      }

      &--title-container {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 100%;
      }
      &--btn-container {
        display: flex;
        gap: 6px;
      }

      &--date {
        min-width: 20px;
      }

      &--title {
        display: block;
        overflow: scroll;
        padding: 6px;
        border-radius: 7px;

        &:active,
        &:focus {
          outline: none;
          background-color: rgb(165, 234, 234);
        }

        &[contenteditable]:hover,
        &[contenteditable]:focus {
          background-color: rgb(165, 234, 234);
        }
      }
    }
  }

  //
}

.btn {
  min-width: 60px;
  height: 36px;
  border: 1px solid var(--main-color);
  border-radius: 7px;
  box-shadow: var(--box-shadow);

  &:hover {
    color: #fff;
    background-color: var(--main-color);
  }
  &:active {
    transform: scale(0.95);
  }
}

// skeleton UI
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
  width: 100%;
  height: 3rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/**  */
@include u.breakpoint-down(medium) {
  .main {
    padding: 20px;
    width: 96%;
  }
}

@include u.breakpoint-down(small) {
}
@include u.breakpoint-down(xsmall) {
  .main__todo-list {
    flex-wrap: wrap;
    justify-content: center;
    &--btn-container {
      margin-top: 6px;
    }
  }
}
